@use '../../styles/variables' as *;

.main {
  display: flex;
  flex-direction: column;
  gap: $spacing-2xl;
  width: 100%;
  max-width: $content-max-width;
  margin: 0 auto;
  padding: $spacing-lg $spacing-lg calc(#{$footer-height} + #{$spacing-2xl});
  box-sizing: border-box;
}
